body {
    background-color: rgb(132, 132, 248);
    font: normal 15pt arial;
}

header {
    text-align: center;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section {
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.449);
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

input {
    display: block;
    margin: 10px;
}

input[type="button"] {
    margin-top: 20px;
}

select {
    width: 100px;
    height: 200px;
}